<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">Home</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h5 class="card-title">GestPart</h5>
          </div>
          <div class="card-body">
            <p>Project realised during "HES d'été"</p>
            <p>Made especially for you by <em>Bastien Wermeille</em></p>
          </div>
        </div>
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- ./row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
